
body{color:#3f312e;background:#FFD39B url('images/bg.png') repeat-x;}
	a{font:tahoma; color:4f4f4f;}
font:14px Helvetica,Arial,Sans-serif;}
#header{width:960px; min-height:150px;margin:0 auto;
position:relative; background-image:url('images/logo.png')repeat-x;
}
#navigation{width:960px;margin:0 auto;padding:10px;}
#navigation ul{margin-top:15;padding:0;list-style-type:none;}
#navigation ul li{display:inline;margin-right:3px;}
#navigation ul li a{background:#fbe49b ;text-decoration:none;padding:8px 8px 3px 8px;text-transform:rotate; border-left:1px solid #e4bc3f;border-top:1px italic #fff;background: url('images/tra.png') }
#navigation ul li.current_page_item a,
#navigation ul li a:hover{; border-top:1px solid #8B5A2B; background: url('images/tran.png')repeat-x left top;}
.con{overflow:auto;width:60px; height:40px; margin:0 auto;padding:7px;padding-top:0;padding-right:auto;background:url('images/main.png')}

#container{overflow:auto;width:960px;margin:0 auto;padding:10px;padding-top:10;padding-right:auto;background:url('images/main.png')}
#content{width:960px;min-height:400px;margin:0 auto; background:#fff;top:10px;position:relative;top:-4;}
#contentleft{width:580px;float:left;margin-right:20px;padding:20px;}
#contentleft h1{font-size:24px; margin-top:0;}
#sidebar{width:280px;float:left;padding:20px;}
.sidebar-element{overflow:auto;margin-top:15px;}
#sidebar h3{color:#fff; background:#53777a;padding:7px 10px; text-transform:uppercase;font-size:14px;}
#sidebar ul{margin:0px;padding:0px;list-style-type:none;}
#sidebar ul li{margin:0 0 7px 0;}
#footer{background:width:960px;margin:0 auto;text-align:center;}
#footer ul{margin:15px 0 0 0;padding:0;list-style-type:none;}
#footer ul li{display:inline;margin-right:5px;}
#footer ul li a{text-transform:uppercase;text-decoration:none;}
#footer ul li a:hover{text-decoration:underline;}
#footer p{font: bold 15px tahoma; font-color:gray; }
.logo{opacity:.4;float:left;}
#header a img{display:inline;margin:0px;padding:0px;}
